h1 {
    color: red;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
}

.box {
    margin: auto;
    width: 300px;
    padding: 10px;
}

.row {
    margin: auto;
    padding: 10px;
}

.box h2 {
    color: cyan;
    font-size: 20px;
    text-align: left;
    margin: 10px 0 0 5px;
}

.box p {
    margin: 10px 5px 10px 5px;
    text-align: justify;
    font-size: 18px;
}

.box img {
    text-align: center;
    width: 300px;
    height: auto;
}
